
<ul id="lien" class="menu">
    <li><a href="{{ path('_home') }}">Accueil</a></li>
    <li><a href="{{ path('_list_table') }}">Voir les tables</a></li>
    <li><a href="{{ path('_account') }}">Mon compte</a></li>
    <li><a href="{{ path('_logout') }}">Se déconnecter</a></li>
</ul>
