
<ul id="lien" class="menu">
    <li><a href="{{ path('_home') }}">Accueil</a></li>
    <li><a href="{{ path('account') }}">Rejoindre une table</a></li>
    <li><a href="{{ path('account') }}">Mon compte</a></li>
    <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
</ul>
