{% extends "::base.html.twig" %}

{% block title %}AfpaPokerGameBundle:TablePokerController:listTable{% endblock %}

{% block body %}
<h1>Welcome to the TablePokerController:listTable page</h1>
{% endblock %}
