
#register{
    color: #FFFFFF;
    top: 12rem;
    font-size: 1.5rem;
}

#register form input{
    border: 0;
    padding: 1.1rem 2rem;
    box-shadow: 0rem 0rem 1.5rem #a5a5a5;
    border-radius: 1.5rem;
    font-size: 1.8rem;

    color: #fff;
    background-color: #000;
    border: 0.1rem solid #fff;
    margin: 2rem;
}

#register form input:hover{
    color: #ADFF2F;
    box-shadow: 0rem 0rem 1rem #a5a5a5 inset;
}

#register form input:active{
    box-shadow: 0rem 0rem 3rem #a5a5a5 inset;
}

#register form button{
    border: 0;
    padding: 1.1rem 2rem;
    box-shadow: 0rem 0rem 1.5rem #a5a5a5;
    border-radius: 1.5rem;
    font-size: 1.8rem;
    color: #fff;
    background-color: #000;
    border: 0.1rem solid #fff;
    margin: 2rem;
}
#register form button:hover{
    color: #ADFF2F;
    box-shadow: 0rem 0rem 1rem #a5a5a5 inset;
}
#register form button:active{
    box-shadow: 0rem 0rem 3rem #a5a5a5 inset;
}


p.notice{
    color: #ADFF2F;
}

p.warning{
    color: #cc0000;
}

.menu {
    float: right !important;
    width:auto;
    margin-right: 1rem;
}
