{% extends "::base.html.twig" %}

{% block title %}AfpaPokerGameBundle:TablePokerController:play{% endblock %}

{% block body %}

    <h1>JustView page</h1>



{% endblock %}
{% block javascripts %}
    {{parent()}}

{% endblock %}
